body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: aliceblue;
}


.search-container {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-item {
    display: block;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: normal;
    background-color: #1a1a1a; /* Dark button background */
    color: #fff; /* Light text color */
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.game-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 35px #00ff00;
    background-color: #00ff00; /* Green background on hover */
    color: #121212; /* Dark text color on hover */
    font-weight: bold;
}

.game-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.game-item h3 {
    margin-top: 10px;
    font-size: 18px;
}
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}

/* Header styles */
header {
    width: 100%;
    height: 200px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .logo-container {
    width: 150px;
    height: 150px;
  }
  
  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .header-title {
    text-align: left;
    color: #00ff00;
  }
  
  .header-title h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px #0f0;
  }
  
  .header-title p {
    font-size: 1.2em;
    margin-top: 0;
  }
  
  /* Navigation styles */
  .header-nav {
    margin-left: 50px;
  }
  
  .header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
  }
  
  .header-nav li {
    font-size: 1.2em;
  }
  
  .header-nav a {
    text-decoration: none;
    color: #00ff00;
    transition: color 0.3s;
  }
  
  .header-nav a:hover {
    color: #ffffff;
  }
  
  .header-nav button {
    text-decoration: none;
    background-color: #1a1a1a;
    border-radius: 5px;
    color: #00ff00;
    transition: color 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .header-nav button:hover {
    color: #ffffff;
  }


   /* Footer styles */
   .footer {
    background: #050505;
    padding: 20px;
    border-top: 2px solid #0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 255, 0, 0.3);
}

.footer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #0f0;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 5px #0f0;
}

.footer-links a {
    color: #0f0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: 0.3s;
}

.footer-links a:hover {
    text-shadow: 0 0 10px #0f0;
    color: #0f0;
}

/* Responsive */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .footer-links {
        margin-top: 10px;
    }
}
  

